
// Colour
$colour-primary: #007bff;
$colour-dark-primary: darken($colour-primary, 10%);
$colour-light-primary: lighten($colour-primary, 10%);

// Imagenes
$image-logo: '/assets/images/intiveFDVlogo.png';