
// Colour
$colour-primary: #007bff;
$colour-dark-primary: darken($colour-primary, 10%);
$colour-light-primary: lighten($colour-primary, 10%);
$colour-danger: #ff0000;
$colour-white: #ffffff;
$colour-black: #000000;
$colour-gray : #676464;
$colour-light-gray: lighten($colour-gray, 30%);

// Imagenes
$image-logo: '/assets/images/intiveFDVlogo.png';