<app-error *ngIf="isError" [message]="'global.services.countries' | translate"></app-error>

<form [formGroup]="userForm" (submit)="save()" *ngIf="!isError">

  <div class="form-row">
    <!-- Name -->
    <div class="form-group col-md-6">
      <label for="mame" class="control-label">{{ 'users.user-form.form.name.label' | translate }}</label>
      <input type="text" class="form-control" formControlName="name"
        placeholder="{{ 'users.user-form.form.name.placeholder' | translate }}">
    
      <div class="text-danger" *ngIf="submitted">
        <span *ngIf="userForm.controls.name.errors?.required">{{ 'users.user-form.form.name.required' | translate }}</span>
        <span *ngIf="userForm.controls.name.errors?.maxlength">{{ 'users.user-form.form.name.naxlength' | translate }}</span>
      </div>      
    </div>

    <!-- Surname -->
    <div class="form-group col-md-6">
      <label class="control-label" for="surname">{{ 'users.user-form.form.surname.label' | translate }}</label>
      <input type="text" class="form-control" formControlName="surname" placeholder="{{ 'users.user-form.form.surname.placeholder' | translate }}">
    
      <div class="text-danger" *ngIf="submitted">
        <span *ngIf="userForm.controls.surname.errors?.required">{{ 'users.user-form.form.surname.required' | translate }}</span>
        <span *ngIf="userForm.controls.surname.errors?.maxlength">{{ 'users.user-form.form.surname.maxlength' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="form-row">
    <!-- Country -->
    <div class="form-group col-md-6">
      <label class="control-label" for="country">{{ 'users.user-form.form.country.label' | translate }}</label>

      <ng-select
        placeholder="{{ 'users.user-form.form.country.placeholder' | translate }}"
        formControlName="country"
        [items]="config.countries"
        bindLabel="name"
        bindValue="alpha2Code">
      </ng-select>

      <div class="text-danger" *ngIf="submitted">
        <span *ngIf="userForm.controls.country.errors?.required">{{ 'users.user-form.form.country.required' | translate }}</span>
      </div>
    </div>

    <!-- BirthDate -->
    <div class="form-group col-md-6">
      <label for="birthdate" class="control-label">{{ 'users.user-form.form.birthdate.label' | translate }}</label>
      <input 
        type="text"
        placeholder="{{ 'users.user-form.form.birthdate.placeholder' | translate }}"
        class="form-control"
        [maxDate]="config.maxDate"
        bsDatepicker
        formControlName="birthdate">
      
      <div class="text-danger" *ngIf="submitted">
        <span *ngIf="userForm.controls.birthdate.errors?.required">{{ 'users.user-form.form.birthdate.required' | translate }}</span>
        <span *ngIf="userForm.controls.birthdate.errors?.bsDate?.maxDate">{{ 'users.user-form.form.birthdate.maxDate' | translate }}</span>
      </div>
    </div>
  </div>

  <div class="form-row justify-content-between button-group">
    <button type="button" class="btn btn-secondary" (click)="clearFormUser()">{{ 'users.user-form.form.btn-clear' | translate }}</button>
    <button type="submit" class="btn btn-primary">{{ 'users.user-form.form.btn-save' | translate }}</button>
  </div>
</form>