<div *ngIf="users">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{ 'users.user-list.table.name' | translate }}</th>
        <th scope="col">{{ 'users.user-list.table.country' | translate }}</th>
        <th scope="col">{{ 'users.user-list.table.birthday' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let user of users"
        [routerLinkActive]="['active']"
        routerLink="/users/{{user.id}}"
        class="cursor-pointer">
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.country.name }}</td>
        <td>{{ user.birthdate | localDate }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="clearUsers()">
      {{ 'users.user-list.clear' | translate }}
    </button>
  </div>
</div>