<div *ngIf="products">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{ 'products.product-list.table.name' | translate }}</th>
        <th scope="col">{{ 'products.product-list.table.description' | translate }}</th>
        <th scope="col">{{ 'products.product-list.table.price' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let product of products"
        [routerLinkActive]="['active']"
        routerLink="/products/{{product.id}}"
        class="cursor-pointer">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | localCurrency }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="clearProducts()">
      {{ 'products.product-list.clear' | translate }}
    </button>
  </div>
</div>